@import url(./header.css);
@import url(./footer.css);

body{
    
    margin: 0 auto;
    background-color: #1F1928;
    font-family:Arial, Helvetica, sans-serif;
}

/* *{
    outline: solid 1px black;
    
} */ 


/* login */

.poppup{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    display: none;
    z-index: 3;


}   

.form-box{
    width: 380px;
    height: 380px;
    position: relative;
    margin: 130px 450px;
    background-color: #353232 ;
    padding: 5px;
}

.close-btn{
    float: right;
    font-size: 25px;
    margin-right: 20px;
    margin-top: 10px;
    color: #D9D9D9;
    cursor: pointer;
}


.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    background-color: #211e1a;
    border-radius: 10px;
}
.loginbutton{
    padding: 10px 34px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline:none;
    position: relative;
    color:#D9D9D9;
    font-size: 18px;
    border-radius: 10px;

}

#btn{
    top:0;
    left:0;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #FFA629;
    transition: .5s;
    border-radius: 10px;
    color: #D9D9D9 ;
}

.login-group{
    width: 176px;
    height: 50px;
    margin: 0 auto;

}

.input-box .details{
    color: #D9D9D9;
    font-size: 12px;
    margin-left: -10px;
  
    
}
   
.input-box input{
    border: 1px solid #FFA629;
    background-color:#353232 ;
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: -14px;
    color: #D9D9D9;
    margin-top: 5px;
}
    
.checkbox{
   float: left;
   display: block;
}

.box span{
    color: #D9D9D9;
    font-size: 12px;
    
}

.button-login{
    display: block;
    margin:  10px 70px;
  
}
.submit-btn{
    color: #0C0B0B;
    background-color: #FFA629;
    width: 80px;
    height: 27px;
    border-radius: 5px;
    display: block;
    margin-left: -20px;
    border: 1px solid #FFA629;
   
}

.submit-btn:active{
    background-color: #1F1928;
    color:#D9D9D9;


}

.login-group a{
    color: #D9D9D9;
    font-size: 12px;
    margin-left: 55px;
}



/* <!-- main --> */

.main{
    width: 100%;
    height: 550px;
    margin: 0 auto;
    background-image: url(../img/AUBG.png);
    display: block;
    background-repeat: no-repeat;
    
}

.main-text h1{
    color: #D9D9D9;
    font-size:70px;
    font-weight: bold;
    display: block;
    float: left;
    margin-left: 350px;
    padding-top: 80px;

    
}

.main-text p{
    border: 1px solid #FFA629;
    max-width: 450px;  
   
    float: right;
    background-color: 
    rgba(0, 0, 0, 0.22);
    color: #D9D9D9;
    padding: 40px;
    justify-content: center;
    line-height: 1.5rem;
    margin-right: 300px;
    /* display: block; */
    letter-spacing: 1px;
    margin-top: 30px;

}
/* <!-- 團隊歷史 --> */

.wrapper{
    max-width: 1280px;
    height: 680x;
    margin-top: 50px;
    background-color:rgba(0, 0, 0, 0.22) ;
    display: block;
    
}

.border{
    border: 3px solid #FFA629;
    max-width: 980px;
    height: 570px;
    margin: 0 auto;
    display: block;
}

.text h1{
    border: 1px solid rgb(0, 0, 0);
    width: 180px;
    height:55px;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    margin: -37px 85px;
    background-color: #000000;
    color: #D9D9D9;
    padding-top: 22px ;



}

.timeline {
	width:700px;
	height: 15px;
	list-style: none;
	text-align: justify;
	position: relative;
	left: 500px;
	top: 115px;
	transform: translate(-50%, -50%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, 
	#FFA629 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
    display: block;
    
}
  
.timeline:after {
	display: inline-block; content: ""; width: 100%;
}
  
.timeline li {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #F2BB13;
	text-align: center;
	line-height: 1.2;
	position: relative;
	border-radius: 50%;
    white-space: nowrap;
    cursor: pointer;
  }

  /* 數字 */
  
.timeline li:before { 
	display: inline-block;
	content: attr(data-year);
	font-size: 18px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    
  }
  
  
  
.timeline li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 16px;
	position: absolute;
	left: 50%;
	transform: translatey(-50%);
  }
  

  /* 基數偶數的間距 */


.timeline li:nth-child(odd):before {
	top: -40px;
    color: #D9D9D9;
    
    
  }
  
.timeline li:nth-child(even):before {
	bottom: -40px;
    color: #D9D9D9;
   


  }
 
.timeline li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: -10px;
	transform: translate(-50%, 100%);
    color: #D9D9D9;
  

  }
.timeline li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	transform: translate(-50%, -100%);
    
    color: #D9D9D9;

  }

.box2{
    margin:  auto;
    width: 200px;
    height: 300px;
    display: block;
}

.box2 img{
    margin-top: 175px;
    margin-left: 30px;
    width: 80%;
}

.box2 p{
    font-size: 16px;
    width: 550px;  
    height: 230px;
    color: #D9D9D9;
    padding: 10px;
    justify-content: center;
    line-height: 1.5rem;
    display: block;
    letter-spacing: 1px;
   margin: 20px -160px;
}



/* 
手機板的tiimeline */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
  
  }
.timelineM{
      width: 700px;
      display: flex;
      justify-content: space-between;
      display: none;
    }
.timelineM::after{
      content: "";
      width: 650px;
      height: 10px;
      position:relative;
      top: 0;
      left: 25px;
      border-bottom:2px solid #FFA629;
    }
.timelineM li{
      flex-direction: column;
      display: flex;
      align-items: center;
      margin: 8px 0;

    }
.circle{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #FFA629;
    }

@media (max-width: 575px){

    /* login */

    .form-box {
        width: 300px;
        margin: 160px auto;

    }

    .loginbutton{
        padding: 8px 23px ;

    }

    .button-box{
        width: 180px;
    }


    .close-btn{
        margin-top: 5px;
    }

    .main-text h1 {
        margin-left: 0;
        text-align: center;
        font-size: 50px;
    }

    .main-text p {
       display: block;
        margin-right: 0;
        margin-top: 15px;
        max-width: 100%;
        padding: 20px;
        font-size: 16px;
        
    }


    /* 下半部 */

    .main{
        background-color: #000000;
       background-image: url(../img/AUBGM.png);
        width: 100%;
    }

    .text h1{
        margin: -35px 20px ;
        font-size: 25px;

    }

    .timeline{
        display: none;
    }

    .box2{
        display: none;
    }
    .wrapper{
        background-color: rgba(0, 0, 0, 0.22);
    }

    .timelineM{
        display: block;
    }

    .timelineM{
        flex-direction: column;
        width: 100px;
        height: 140px;
        margin: 40px 155px;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        /* left: 225px; */
        /* bottom: -265px; */
        
      }
      .timelineM::after{
        /* content: "";
        width: 0;
        height: 800px;
        position: relative;
        top: 0;
        left: calc((100% - 5px) /2);
        border-bottom:none;
        border-right: 2px solid #FFA629; */

        content: "";
        width: 0; /* 修改为所需的宽度值 */
        height: 450px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: none;
        border-right: 2px solid #FFA629;
      }

      .title{
        position: relative;
        left: -63px;
        top: -15px;
        color: #D9D9D9;
      }

      .year{
        position: relative;
        left: 62px;
        top: -32px;
        color: #D9D9D9;
      }


}


