@import url(./header.css);
@import url(./footer.css);

body{
   
    margin: 0 auto;
    background-color: #1F1928;
    font-family:Arial, Helvetica, sans-serif;
}

/* *{
    outline: solid 1px black;
    
} */ 



/* login */

.poppup{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    display: none;
    z-index: 3;

}   

.form-box{
    width: 380px;
    height: 380px;
    position: relative;
    margin: 6% auto;
    background-color: #353232 ;
    padding: 5px;
}

.close-btn{
    float: right;
    font-size: 25px;
    margin-right: 20px;
    margin-top: 10px;
    color: #D9D9D9;
    cursor: pointer;
}


.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    background-color: #211e1a;
    border-radius: 10px;
}
.loginbutton{
    padding: 10px 34px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline:none;
    position: relative;
    color:#D9D9D9;
    font-size: 18px;
    border-radius: 10px;

}

#btn{
    top:0;
    left:0;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #FFA629;
    transition: .5s;
    border-radius: 10px;
    color: #D9D9D9 ;
}

.login-group{
    width: 176px;
    height: 50px;
    margin: 0 auto;

}

.details{
    color: #D9D9D9;
    font-size: 12px;
    margin-left: -10px;
    
}
   
.input-box input{
    border: 1px solid #FFA629;
    background-color:#353232 ;
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: -14px;
    color: #D9D9D9;
    margin-top: 5px;
}
    
.checkbox{
   float: left;
   display: block;
}

.box span{
    color: #D9D9D9;
    font-size: 12px;
    
}

.button-login{
    display: block;
    margin:  10px 70px;
  
}
.submit-btn{
    color: #0C0B0B;
    background-color: #FFA629;
    width: 80px;
    height: 27px;
    border-radius: 5px;
    display: block;
    margin-left: -20px;
    border: 1px solid #FFA629;
   
}

.submit-btn:active{
    background-color: #1F1928;
    color:#D9D9D9;


}

.login-group a{
    color: #D9D9D9;
    font-size: 12px;
    margin-left: 55px;
}

/* <!-- 中間區塊 --> */

.containerarea{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}


.products img{
    margin-top:50px ;
    width: 100%;
}

.productsM{
    display: none;
}



/* <!-- 下面左右區域 --> */     



.container{
    max-width:100% ;
    height: auto;
    margin: auto;
    
}

.contact-box{
    height: auto;
    display:flex ;
    justify-content: space-between;
    margin-top: 50px ;
    /* margin-left: 85px; */
    
  
    
    
}
.contact-left{
    /* flex-basis: 400px; */
    border: 1px solid #FFA629;
    background-color: #353232;
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
    margin: 0 auto;
    margin-left: 135px;

}

.contact-left h3{
    font-size: 20px;
    justify-content: center;
    color: #D9D9D9;
    margin-bottom: 20px ;

}
.input-row{
    text-align:left;
    margin: 50px 80px;
}
  

.input-group .input-row{
    flex-basis: 100%;
    
}
.input-group label{
    color: #D9D9D9;
    
}

.input-group input{
    width:100%;
    margin-bottom:20px;
    margin-top: 5px;
    border:1px solid #FFA629;
    background-color: #353232;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #D9D9D9;
    
    height: 30px;

    
}

.input-group textarea{
    width: 104%;
    border: 1px solid #FFA629;
    background-color: #353232;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    color: #D9D9D9;
    font-size: 16px;
}

.input-row button{
    background-color: #FFA629;
    color: #1F1928;
    padding: 3px 20px;
    outline: none;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    border: 1px solid #FFA629;
    
}

.input-row button:active{
    background-color: #1F1928;
    color:#D9D9D9;


}


.contact-right{
   display: block;
    width: 50%;
    margin-left: 24px;
    height: auto;
}

.transportation{
    border: 1px solid #FFA629;
    background-color: #353232;
    border-radius: 10px;
    height: 350px;
    width: 70%;
        
}
.transportation h2{
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
    color: #D9D9D9;
    justify-content: space-between;
}

.area1{
   margin: 20px ;
   height: auto;
}

.area1 span{
    font-size: 30px;
    float: left;
    margin-right: 10px;
    margin-left: 20px;

}

.area1 h1{
    color: #D9D9D9;
    padding-top:10px ;
    font-size: 16px;
    text-align: justify;
}

.area1 p{
    color: #D9D9D9;
    text-align: justify;
    padding: 15px;
    line-height: 1.2;
    width: 90%;
    height: auto;
}

.information{
    border: 1px solid #FFA629;
    background-color: #353232;
    border-radius: 10px;
    height: 145px;
    width: 445px;
    margin-top: 20px;
}

.information h2{
    color: #D9D9D9;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.information p{
    color: #D9D9D9;
    margin-left: 90px;
    margin:10px 50px;
}  


.map{
 
    margin-top: 30px;
    /* position: absolute; */
}

.mapM{
    display: none;
}




@media screen and (max-width: 975px) {

    /* login */

    .form-box {
        width: 300px;
        margin: 160px auto;

    }

    .loginbutton{
        padding: 8px 23px ;

    }

    .button-box{
        width: 180px;
    }

    .close-btn{
        margin-top: 5px;
    }

    /* 上圖 */

    .products{
        display: none;
    }
    .productsM{
        display: block;
    }
    .productsM img{
        width: 100%;
    }

    .contact-box{
        display: block;
        width: 100%;
    }

    /* 表單 */

    .contact-left{
        margin: 0 auto;
        width: 70%;
       
    }
    .input-row{
        margin: 10px;
    }


    /* 右邊 */
    .transportation{
        width: 162%;
        margin: 15px;
    }

    .area1{
        margin: 0;
    }
    .area1 p{
        padding-bottom: 10px;
    }

   

    .information{
        display: none
    }

    .map{
        display: none;
    }

    .mapM{
        display: block;
        margin: 25px;
    }
   

}