
@import url(./header.css);
@import url(./footer.css);

*{
    /* outline: solid 1px red; */
}
body{
  
    margin: 0 auto;
    background-color: #1F1928;
    font-family:Arial, Helvetica, sans-serif;
   
}


/* login */

.poppup{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    display: none;
    z-index: 3;

}   

.form-box{
    width: 380px;
    height: 380px;
    position: relative;
    margin: 6% auto;
    background-color: #353232 ;
    padding: 5px;
}

.close-btn{
    float: right;
    font-size: 25px;
    margin-right: 20px;
    margin-top: 10px;
    color: #D9D9D9;
    cursor: pointer;
}


.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    background-color: #211e1a;
    border-radius: 10px;
}
.loginbutton{
    padding: 10px 34px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline:none;
    position: relative;
    color:#D9D9D9;
    font-size: 18px;
    border-radius: 10px;

}

#btn{
    top:0;
    left:0;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #FFA629;
    transition: .5s;
    border-radius: 10px;
    color: #D9D9D9 ;
}

.login-group{
    width: 176px;
    height: 50px;
    margin: 0 auto;

}

.details{
    color: #D9D9D9;
    font-size: 12px;
    margin-left: -10px;
    
}
   
.input-box input{
    border: 1px solid #FFA629;
    background-color:#353232 ;
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: -14px;
    color: #D9D9D9;
    margin-top: 5px;
}
    
.checkbox{
   float: left;
   display: block;
}

.box span{
    color: #D9D9D9;
    font-size: 12px;
    
}

.button-login{
    display: block;
    margin:  10px 70px;
  
}
.submit-btn{
    color: #0C0B0B;
    background-color: #FFA629;
    width: 80px;
    height: 27px;
    border-radius: 5px;
    display: block;
    margin-left: -20px;
    border: 1px solid #FFA629;
   
}

.submit-btn:active{
    background-color: #1F1928;
    color:#D9D9D9;


}

.login-group a{
    color: #D9D9D9;
    font-size: 12px;
    margin-left: 55px;
}




/* 主畫面TOP */

.top{
    background-color: #1F1928;
    overflow: hidden;
    height: 500px;
    /* max-width: 1280px; */

}
.top-center{
    margin: 0 auto;
    max-width: 1000px;
 
    overflow: hidden;
}

.top-center_text{
    padding-left: 50px;
    color: #D9D9D9;
    width: 335px;
    margin-top: 40px;
    
}

.top-center_text h1{
    font-size:70px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 1.2;
}



.top-center_text p{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    line-height: 1.6;
    
}

.top-center_text a{
    font-weight: bold;
    text-decoration: none;
    color: #FFA629;
    font-size:32px ;
    position:relative;
}

.top-center_text i{
    margin-left: 10px;
}




.top-center_text a:after{
    content:"";
    display:block;
    width: 0;
    height: 2px;
    background-color: #FFA629;
    position:absolute;
    right: 0;
    transition:.4s;
}

.top-center_text a:hover::after{
    width: 100%;
    left: 0;
}




.top-center img{
    float: right;
    margin-right: 35px;
   
}
/* <!-- 最新消息 --> */

.news{
    background-repeat: no-repeat;
    height: 594px;
    background-image: url(../img/topnews.png);
    background-color: #1f1405ba;
    max-width: 1260px;
    margin: 0 auto;

    
}

.news h1{
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 50px;

}


.news ul{
    max-width: 1280px;
    display: flex;
   
}

.news li{
    width: 320px;
    padding: 10px;
    background-color: #fff;
    margin: 0 auto;
    /* border: 1px solid #353232; */
}
.news img{
    width: 100%;
    margin-bottom: 10px;
    height: 240px;

}


.news h3{
    text-align: center;
    color: #1F1928;
    line-height: 1.6;
    font-size: 16px;
}

.news p{
    text-align: center;
    color: #1F1928;
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 20px;
}

.news a{
    display: block;
    width: 80px;
    height: 30px;
    background-color:#FFA629;
    border-radius:5px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    margin: 0  auto;
    margin-bottom: 20px;
    color: #000;
    
}

.news a:hover{
    opacity: 0.8;

}



/* <!-- 遊戲流程 --> */

.wrap{
    max-width: 1280px;
    height: 1964px;
    background-image: url(../img/Home1.png);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.wrap h1{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    color:#D9D9D9;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.item{
    display: flex;
    /* margin-left: 200px; */
    /* margin-top: 60px; */
    width: 904px;
    margin: auto;
    
    
}


.text{
    border: 1px solid #FFA629;
    max-width: 400px;
    max-height: 235px;
    margin-top: 30px;
    background-color:  rgba(0, 0, 0, 0.5);
    margin-left: -10px;
    margin-right: -10px;
    z-index: 1;
    
   

}
.item h3{
    color: #FFA629;
    font-size: 30px;
    float: left;
    margin-left: 25px;
    margin-top: 15px;
    
}

.text h2{
    display: block;
    text-align: center;
    color:#D9D9D9;
    font-size: 22px;
    padding: 25px;
    

}

.text p{
    color:#D9D9D9;
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
    padding: 10px 35px;
    justify-content: center;

}


/* <!-- 熱門推薦 --> */

.bottom{
    background-color:rgba(0, 0, 0, 0.22);
    max-width: 1260px;
    height: 612px;
    position: relative;
    margin: 0 auto;
    
}

.wrapper{
    max-width: 1200px;
}

.bottom h1{
    font-size: 40px;
    text-align: center;
    padding: 40px;
    color:#D9D9D9;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.carousel{
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
    margin-left: 55px;
}

.carousel img {
    height: 413px;
    object-fit: cover;
    width: calc(100% / 4);
    padding-left: 10px;
    /* margin-left: 10px; */
    pointer-events: none;
    
   
}

.carousel img:hover{
    opacity: 1;
    transform: scale(1.2);
}


.carousel img:first-child{
    margin-right: 20px;
}

.bottom i{
    height: 50px;
    width: 50px;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}
.bottom i:first-child{
    left: 5px;
}

.bottom i:last-child{
    right: 5px;
}




/******************* RWD start *********************/

@media screen and (max-width: 970px) {

    
    .top-center img {
        display: none;
    }

    .top-center_text {
        margin: 40px auto;
    }
    
    
    .news{
        background-color: #1F1928;
        background-image: none;
    }
    .news h1 {
        color: #D9D9D9;
    }
 
    .news2 {
        display: none;
    }
    .news3{
        display: none;
    }

    .pic{
        /* margin-right: 0; */
        width: 100%;
    }
   
    .pic img{
        width: 100%;
        
    }
   
    .text{
        /* margin-left: -370px ;
        margin-bottom: 35px; */
        order: 1;
        width: 90%;
        height: 80%;
        position: absolute;
        left: 7%;
        margin-bottom: 20px;

    }

    .text h2{
        font-size: 18px;
    }

    .text p{
       font-size: 16px;
    }
   
    .item{
        display: flex;
        width: auto;
     }
     /* 熱門 */
 
    .carousel img{
    width: 100%;
    }
   

    .wrap{
        width: auto;
    }
 
    
    
  
}/* END */

@media (max-width: 768px){
    .news ul{
        display: flex;
        flex-wrap: wrap;
        
        
    }
  
    .news li{
        margin: 15px auto;
    }
    
    
}


@media (max-width: 428px){

    .top-center_text {
        margin: 20px auto;
    }

    .top-center img{
        display: none;
    }

    
}





/* .col-1 { width: 8.333333%;}
.col-2 { width: 16.666666%;}
.col-3 { width: 25%;}
.col-4 {width: 33.333333%;}
.col-5 { width: 41.666666%;}
.col-6 { width: 50%;}
.col-7 { width: 58.333333%;}
.col-8 { width: 66.666666%;}
.col-9 { width: 75%;}
.col-10 { width: 83.333333%;}
.col-11 { width: 91.666666%;}
.col-12 {width: 100%;} */

 