@import url(./reset.css);
*{
    position: relative;
}
body{
    
    margin: 0 auto;
    background-color: #1F1928;
    font-family:Arial, Helvetica, sans-serif;
}

/* *{
    /* outline: solid 1px black; */
    


/* <!-- 最上header --> */
header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color:#1F1928 ;
    position: relative;
    opacity: .8;
    position:sticky;
    top:0;
    z-index: 1;
    width: 1223px;
    margin: 0 auto;
    
}
.header_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    padding-left: 60px;
}


.header_left nav > ul{
    display: flex;
    list-style: none;

}
.header_left nav > ul > li{
    margin-left: 25px;
    padding-left: 40px;
}

.header_left nav > ul > li >a{
    text-decoration: none;
    font-size: 18px;
    color: #D9D9D9;
    padding: 10px;

}
.header_left nav > ul > li >a:hover{
    color: #FFA629;
}



.dropdown{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    list-style: none;
    display: none; 
    position: absolute;
    
}
.dropdown a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #D9D9D9;
    background-color: #1F1928;
    text-align: center;
    box-sizing: border-box;

}

.dropdown a:hover{
    color:#FFA629
}

.showList:hover .dropdown{
    display: block;
}

.header_right{
    display: flex;
    justify-content: space-between;
}

.button{
    display: inline-block;
    margin-right:20px ;
    border-radius:5px;
   

}
.button a{
    text-decoration: none;
    font-size: 18px;
    color: #D9D9D9;
    width: 100%;
    border:1px solid #FFA629;
    padding: 8px;
    border-radius:5px;

}
.button a:hover{
    color: #FFA629;
    
}


.login {
    padding-right: 60px;
    
}
/* <!-- 上方NEWS --> */

.banner-area{
    width: 1250px; 
    height: 400px;
    background-image: url(../img/NEWSBG.png);
    margin: 0 auto;


}

.banner-area h1{
    font-size:70px ;
    color: #D9D9D9;
    text-align: center;
    font-weight: bold;
    padding-top: 150px;
}

.breadcrumbs ul{
    display: flex ;
    column-gap: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
} 

.breadcrumbs a{
    color: #FFA629;
    text-decoration: none;
    font-size: 16px;

}

.select_list{

position: relative;
}

.list{
    /* float: right; */
    color: #FFA629;
    background-color: #1F1928;
    padding: 8px; 
    border-radius:5px;
    width: 180px;
    border: 1px solid #FFA629;
    font-size: 16px;
    /* margin-right: 20px; */
    margin-bottom: 30px;
    position: absolute;
    right: 10px;
    bottom: 0;
   
    
}



/* <!-- 中間區塊 --> */
 .news{
  
    /* height: auto; */
    /* margin-top: 0 auto; */
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    /* position: relative; */
    grid-gap: 30px;
    width: 1264x; 

   
 }

 .news1{
    width: 600px;
    height: 208px;
    border: 1px solid #FFA629;
    margin: 0px auto;
   
    background-color:#353232 ;
 }

 .photo{
    width: 213px;
    height: 175px;
    float:left;
 }

 .photo img{
    display: block;
    width:100%;
    padding: 20px 33px;
    
 }

.text{
    float: right; 
    width: 213px;
    height: 180px;
    padding: 25px 85px;
    display: block;
 }

.text h1{
    font-size: 24px;
    line-height: 1.6;
     color: #D9D9D9;
    display: block;

}

.text p{
    font-size:16px ;
    justify-content: center;
    line-height: 1.5;
    color: #D9D9D9;
    display: block;

}

.text h6{
    color: #D9D9D9;
    font-size: 16px;
    line-height: 2;
    display: block;


}

.text a {

    background-color: #FFA629;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius:5px;
    font-size: 12px;
    position: absolute;
    /* margin: -13px 176px; */
    right: 40px;
    bottom: 45px;
    color: #353232;
}



/* <!-- 頁數 --> */

.container, .button-page , .links, .link{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F1928;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    

}

.container{
    padding: 10px;
    column-gap: 15px;
  

}

.button{
    border: none;
}

.link{
    width: 45px;
    color: #D9D9D9;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;

}



/* <!-- 最下面footer --> */   

footer{
    
    color: #D9D9D9;
    padding-top: 30px;
    margin-top: 60px;
   

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 20px;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    font-size: 16px;
    max-width: 500px;
    line-height: 1.3rem;
    margin: 10px auto;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.socials li{
    margin: 0 10px;
}

.footer-bottom{
   
    justify-content: center;

}

.footer-bottom p{
    font-size: 12px;
    
    
}




