@import url(./header.css);
@import url(./footer.css);
*{
    position: relative;
}
body{
    /* max-width: 1280px; */
    margin: 0 auto;
    background-color: #1F1928;
    font-family:Arial, Helvetica, sans-serif;
}

/* *{
    /* outline: solid 1px black; */
    



/* login */

.poppup{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    display: none;
    z-index: 3;

}   

.form-box{
    width: 380px;
    height: 380px;
    position: relative;
    margin: 6% auto;
    background-color: #353232 ;
    padding: 5px;
}

.close-btn{
    float: right;
    font-size: 25px;
    margin-right: 20px;
    margin-top: 10px;
    color: #D9D9D9;
    cursor: pointer;
}


.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    background-color: #211e1a;
    border-radius: 10px;
}
.loginbutton{
    padding: 10px 34px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline:none;
    position: relative;
    color:#D9D9D9;
    font-size: 18px;
    border-radius: 10px;

}

#btn{
    top:0;
    left:0;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #FFA629;
    transition: .5s;
    border-radius: 10px;
    color: #D9D9D9 ;
}

.login-group{
    width: 176px;
    height: 50px;
    margin: 0 auto;

}

.details{
    color: #D9D9D9;
    font-size: 12px;
    margin-left: -10px;
    
}
   
.input-box input{
    border: 1px solid #FFA629;
    background-color:#353232 ;
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: -14px;
    color: #D9D9D9;
    margin-top: 5px;
}
    
.checkbox{
   float: left;
   display: block;
}

.box span{
    color: #D9D9D9;
    font-size: 12px;
    
}

.button-login{
    display: block;
    margin:  10px 70px;
  
}
.submit-btn{
    color: #0C0B0B;
    background-color: #FFA629;
    width: 80px;
    height: 27px;
    border-radius: 5px;
    display: block;
    margin-left: -20px;
    border: 1px solid #FFA629;
   
}

.submit-btn:active{
    background-color: #1F1928;
    color:#D9D9D9;


}

.login-group a{
    color: #D9D9D9;
    font-size: 12px;
    margin-left: 55px;
}


/* <!-- 標題 --> */

.wrapper{
   max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    background-color: #1C1822;

}

.top-wrapper h1{
    font-size: 36px;
    color: #D9D9D9;
    text-align: center;
    margin: 30px auto;
    padding-top: 10px;
}

.main-wrapper{
    display: flex;
    justify-content: space-between;

}

.left-wrapper{
    flex-basis: 50%;
    margin-left: 30px;
   
}
.game{
    border: 1px solid #FFA629;
    background-color: #353232;
    border-radius:5px;


}
.container select{
    color: #D9D9D9;
    background-color: #1F1928;
    border: 1px solid #FFA629;
    margin: 20px auto ;
    display: block;
    font-size: 18px;
    padding: 5px 20px;
    border-radius:5px;


}

.game img{
    display: flex;
    width: 50%;
    margin: 30px auto;
    
}

/* 注意事項 */

.notice{
    border: 1px solid #FFA629;
    background-color: #353232;
   margin-top: 30px;
   border-radius:5px;

}

.notice h1{
    color: #D9D9D9;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 24px;
}

.text-list{
    color: #D9D9D9;
    padding: 30px;

}

.text-list li{
    line-height: 2;
   
}


/* 右邊 */

.right-wrapper{
    border: 1px solid #FFA629;
    margin-right: 30px;
    background-color: #353232;
    border-radius: 5px;
}


.datetime p{
    color: #D9D9D9;
    display: block;
    margin-top: 50px;
    font-size: 20px;
    margin-left: 60px;
}

.date{
    background-color: #1C1822;
    color:#D9D9D9;
    display: block;
    border: 1px solid #FFA629;
    border-radius:5px;
    font-size: 18px;
    margin-left: 60px;
    margin-top: 20px;
    /* padding: 10px 100px; */
    width: 390px;
    height: 40px;
}


/* .datetime p{
    color: #D9D9D9;
    display: block;
    margin-top: 50px;
    font-size: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
} */

.time{
    display: flex;
    flex-wrap: wrap;
    width: 411px;
    justify-content: space-between;
    margin:20px 55px;
    cursor: pointer;
    
}
.right-wrapper p{
    color: #D9D9D9;
    display: block;
    margin-top: 50px;
    font-size: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.radio1{
    border: 1px solid #FFA629;
    width: 115px;
    height: 60px;
    background-color: #353232;
    text-align: center;
    border-radius: 5px;
    color: #D9D9D9;
    margin: 10px;
   
}

.hour{
    display: flex;
    margin: 9px auto;
   
}


.form {
    display: flex;
    flex-direction: column;
    
     
}

.form input {
    margin: 10px;
    margin-left: 88px;
    border: 1px solid #FFA629;
    background-color: #1F1928;
    color: #D9D9D9;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;

}

.form span{
    font-size: 12px;
    display: block;
    color: #D9D9D9;
    margin-left: 92px;

}

select{
    display: block;
    border: 1px solid #FFA629;
    background-color: #1F1928;
    color: #D9D9D9;
    width: 365px; 
    margin-left: 88px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;    

}

textarea{
    width: 350px;
    border: 1px solid #FFA629;
    background-color: #1F1928;
    color: #D9D9D9;
    border-radius: 5px; 
    margin-top: 20px;
    margin-left: 88px;
    padding: 10px;

}


.cancel{
    background-color: #2B252F;
    color: #D9D9D9;

}


.right-wrapper button{
    justify-content: center;
    margin-top: 20px;
    background-color: #FFA629;
    width: 100px;
    height: 30px;
    margin-left: 110px;
    border: 1px solid #FFA629;
    border-radius: 5px;

}   
button:active{
    background-color: #1F1928;
    color:#D9D9D9;

}



@media screen and (max-width: 975px) {

    /* login */

    .form-box {
        width: 300px;
        margin: 160px auto;

    }

    .loginbutton{
        padding: 8px 23px ;

    }

    .button-box{
        width: 180px;
    }

    .close-btn{
        margin-top: 5px;
    }
    .main-wrapper{
        display: block;
       
    }



    /* 右邊 */

    .left-wrapper{
        width: 80%;
        margin: 10px auto;
    }

    .container select{
        width: 80%;
       
    }

    /* 注意事項 */
    .notice{
        display: none;
    }

    /* 左邊 */

    .right-wrapper{
        width: 80%;
        margin: 0 auto;
    }

    .right-wrapper p{
        margin: 25px  10px;
    }

    .date{
        margin: 0 auto;
        width: 80%;
    }

    .time{
        width: 90%;
        margin: 0 15px;

    }

    .radio1 {
        width: 40%;
    }

    .form input{
        margin: 7px 30px;
        width: 76%;
    }

    .form span{
        margin: 0 30px;
        height: 30px;

    }

    select{
        margin: 0 30px;
        width: 80%;
        height: 45px;
        
    }

    textarea{
        margin: 10px 30px;
        width: 74%;

    }

    .twobnt{
        display: flex;
        flex-direction: row;
        margin: 10px 12px;
    }

    .right-wrapper button{
        margin: 10px 27px;
    }


}