@import url(./reset.css);

body{
    width: 1280px;
    margin: 0 auto;
    background-color: #1F1928;
    font-family:Arial, Helvetica, sans-serif;
}

/* *{
    /* outline: solid 1px black; */
    


/* <!-- 最上header --> */

header{
    height: 110px;
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    align-items: center;
    background-color:#1F1928 ;
    position: relative;
    opacity: .8;
    position:sticky;
    top:0;
    
    
}
.header_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    padding-left: 60px;
}


.header_left nav > ul{
    display: flex;
    list-style: none;

}
.header_left nav > ul > li{
    margin-left: 25px;
    padding-left: 40px;
}

.header_left nav > ul > li >a{
    text-decoration: none;
    font-size: 18px;
    color: #D9D9D9;
    padding: 10px;

}
.header_left nav > ul > li >a:hover{
    color: #FFA629;
}



.dropdown{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    list-style: none;
    display: none; 
    position: absolute;
    
}
.dropdown a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #D9D9D9;
    background-color: #1F1928;
    text-align: center;
    box-sizing: border-box;

}

.dropdown a:hover{
    color:#FFA629
}

.showList:hover .dropdown{
    display: block;
}

.header_right{
    display: flex;
    justify-content: space-between;
}

.button{
    border: 1px solid #FFA629;
    display: block;
    margin-right:20px ;
    padding: 8px;
    border-radius:5px;


}
.button a{
    text-decoration: none;
    font-size: 18px;
    color: #D9D9D9;
}
.button a:hover{
    color: #FFA629;
}


.login{
    padding-right: 60px;
    padding-top: 8px;
}



/* <!-- 上方NEWS --> */

.banner-area{
    width: 1280px; 
    height: 400px;
    background-image: url(../img/NEWSBG.png);
    margin: 0 auto;

}

.banner-area h1{
    font-size:70px ;
    color: #D9D9D9;
    text-align: center;
    font-weight: bold;
    padding-top: 150px;
}

.breadcrumbs ul{
    display: flex ;
    gap: 10px ;

    margin-bottom: 50px;
} 

.breadcrumbs a{
    color: #FFA629;
    text-decoration: none;
    font-size: 16px;

}


.list{
    float: right;
    color: #FFA629;
    background-color: #1F1928;
    padding: 8px; 
    border-radius:5px;
    width: 180px;
    border: 1px solid #FFA629;
    font-size: 16px;

}


/* <!-- 中間區塊 --> */
 .news{
    width: 1280px;
    height: auto;
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
   
 }

 .news1{
    width: 600px;
    height: 208px;
    border: 1px solid #FFA629;
    margin: 50px auto;
    background-color:#353232 ;
 }

 .photo{
    width: 213px;
    height: 175px;
    float:left;
 }

 .photo img{
    display: block;
    width:100%;
    padding: 20px 33px;
    
 }

.text{
    float: right; 
    width: 213px;
    height: 180px;
    padding: 25px 85px;
    display: block;
 }

.text h1{
    font-size: 24px;
    line-height: 1.6;
     color: #D9D9D9;
    display: block;

}

.text p{
    font-size:16px ;
    justify-content: center;
    line-height: 1.5;
    color: #D9D9D9;
    display: block;

}

.text h6{
    color: #D9D9D9;
    font-size: 16px;
    line-height: 2;
    display: block;


}

.text a {
    border: 1px solid #1F1928;
    background-color: #FFA629;
    float: right;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius:5px;
    font-size: 12px;
    position: absolute;
    margin: -13px 176px;
    
}

.news2{
    width: 600px;
    height: 208px;
    border: 1px solid #FFA629;
    margin: 50px auto;
    background-color:#353232 ;
}



.news3{
    width: 600px;
    height: 208px;
    border: 1px solid #FFA629;
    margin: 50px auto;
    background-color:#353232 ;
}


.news4{
    width: 600px;
    height: 208px;
    border: 1px solid #FFA629;
    margin: 50px auto;
    background-color:#353232 ;
}

.news5{
    width: 600px;
    height: 208px;
    border: 1px solid #FFA629;
    margin: 50px auto;
    background-color:#353232 ;
}

.news6{
    width: 600px;
    height: 208px;
    border: 1px solid #FFA629;
    margin: 50px auto;
    background-color:#353232 ;
}

/* <!-- 頁數 --> */